{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block style %}
<style>
.col-md-8 p {
  font-size: 16pt;
}

.col-md-8 h1 {
  font-weight: 400;
}

label {
  display: none;
}
</style>
{% endblock %}

{% block navbar %}
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">DjangoBlog</a>
</div>
<div class="collapse navbar-collapse" id="collapse">
   <ul class="nav navbar-nav">
     <!--<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>-->
     <li><a href="/">Home</a></li>
     <li><a href="/">About</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     {% if user.is_authenticated %}
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/create">Create Blog Post</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
     {% else %}
       <li><a href="/signin">Sign In</a></li>
       <li><a href="/signup">Sign Up</a></li>
     {% endif %}
   </ul>
 </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>{{ blog.post_title }}</h1>
    <p>By: <a href="{% url 'user' blog.owner.username %}" style="font-size: 16pt;">{{ blog.owner.username }}</a></p>
    <br>
    <br>
    <p>{{ blog.post_body|linebreaks }}</p>
    <br/><br/>
    <!-- <p>{{ blog.date_published }} | {{ blog.owner.username }}</p>
    {% if user == blog.owner %}
      <a class="btn btn-default">Edit</a>
      <a class="btn btn-danger">Delete</a>
    {% endif %} -->
    <h2>Responses</h2>
    <hr>
    {% if user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="" method="post">
          {% csrf_token %}
          <!-- <textarea name="comment_body" class="form-control" placeholder="Write a response..." rows="3"></textarea> -->
          {{ comment_form|crispy }}
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Post!</button>
        </form>
      </div>
    </div>
    {% endif %}
    {% for comment in comments %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>{{ comment.author }}</b></p>
        <p>{{ comment.content|truncatechars:200 }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
