<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400" rel="stylesheet">

    <style>
    p, a {
      font-family: 'Roboto Slab', serif;
      font-weight: lighter;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse bg-primary navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <a class="navbar-brand" href="/">DjangoBlog</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br/>
    <div class="container">
      <h1>DjangoBlog</h1>
      <p>A demo blog app built in Django 1.11</p>
      <hr/>
      <div class="row">
        <div class="col-md-8">
          <h2>{{ blog.post_title }}</h2>
          <p>{{ blog.post_body }}</p>
          <p>{{ blog.date_published }}</p>
        </div>
        <div class="col-md-4">
          <h4>Archives</h4>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"</script>
  </body>
</html>
