{% extends 'base.html' %}

{% block navbar %}
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">DjangoBlog</a>
</div>
<div class="collapse navbar-collapse" id="collapse">
   <ul class="nav navbar-nav">
     <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
     <li><a href="/">About</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     {% if user.is_authenticated %}
       <li>     <p class="navbar-text">Signed in as {{ user.username }}</p></li>
       <li><a href="/logout">Logout</a></li>
     {% else %}
       <li><a href="/signin">Sign In</a></li>
       <li><a href="/signup">Sign Up</a></li>
     {% endif %}
   </ul>
 </div>
{% endblock %}

{% block content %}
<h1>DjangoBlog</h1>
<p>A demo blog app built in Django 1.11</p>
<hr/>
<br/>
<div class="row">
  <div class="col-md-8">
    {% for post in posts %}
      <h2>{{ post.post_title }}</h2>
      <P>{{ post.post_body|truncatechars:300 }} <a href="{% url 'blog' post.id %}">Read More</a></p>
      <br>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <h4>Archives</h4>
  </div>
</div>
{% endblock %}
