{% extends 'base.html' %}

{% block navbar %}
<a class="navbar-brand" href="/">DjangoBlog</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<h1>DjangoBlog</h1>
<p>A demo blog app built in Django 1.11</p>
<hr/>
<br/>
<div class="row">
  <div class="col-md-8">
    {% for post in posts %}
      <h2>{{ post.post_title }}</h2>
      <P>{{ post.post_body|truncatechars:300 }} <a href="{% url 'blog' post.id %}">Read More</a></p>
      <br>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <h4>Archives</h4>
  </div>
</div>
{% endblock %}
